# PREVENT DIRECTORY BROWSING
Options All -Indexes


# ENABLE REWRITES
RewriteEngine on

# STOP HTACCESS PROCESSING IF IMAGE WAS REQUESTED
# Image paths may interfere with processed URLs
RewriteCond %{REQUEST_URI} \.jpg$|\.png$|\.gif$|\.mp4$
RewriteRule (.*) $1 [L]

#RewriteRule ^/$ pages/index.php [L]
RewriteRule ^demos/$ demos/index.php [L]
RewriteRule ^demos/(.*)/$ demos/$1.php [L]
