
parameters:
    level: 6
    paths:
        - ./
    excludePaths:
        - cache/
        - build/
        - vendor/
        - tests/
        - js/
        - public/
        - demos/local/

    # TODO review once we drop PHP 7.x support
    treatPhpDocTypesAsCertain: false

    # some extra rules
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    # TODO checkMissingClosureNativeReturnTypehintRule: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkMissingIterableValueType: false # TODO

    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::ajax\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::jsOpenWindow\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::performMethod\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::format\(\)#'
