<!DOCTYPE html>
<html lang="{lang}en{/}" class="">
<head>
  <title>{title}Fohn UI - Untitled Project{/}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  {$meta}
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  {$head}
  {$includeHeadJs}
  {$includeCss}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8KLER96GMM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8KLER96GMM');
</script>
<body class="{$classAttr}">{$Content}
<div id="fohn-toast"></div>
<div id="fohn-modals"></div>
<div id="fohn-exception-dialog" class="invisible"></div>
{$includeJs}
<script type="application/javascript">{$documentReady}</script>
</body>
</html>
